<div class="container">
    <div class="row">
        <h2>Follow Users</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>image</th>
                    <th>name</th>
                </tr>
            </thead>
            <tbody>
                    <% @users.each do |user|%>
                <tr>
                    <td><%= attachment_image_tag(user.followed, :profile_image,:fill,50,50, fallback: "no_image.jpg") %></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>