<div class="left-button">
  <%= link_to "ユーザー一覧に戻る","/users/index", class: "edit-link" %>
</div>
<h4 class="rooms-title">気になるどうし</h4>
<% @entries.each do |e| %>
    <div class="user-name">
      <strong>
        <%= image_tag e.user.avatar, class: "user-image"%>
         <a class="rooms-user-link" href="/users/<% e.user.id %>">
           <% e.user.name %>さん
         </a>
      </strong>
    </div>
<% end %>
<hr>
<div class="chats">
  <div class="chat">
    <% if @messages.present? %>
      <% @messages.each do |m| %>
        <div class="chat-box">
          <div class="chat-face">
            <%= image_tag m.user.avatar, class: "user-image" %>
          </div>
          <div class="chat-hukidashi"></div>
        </div>
  </div>
</div>
</hr>